body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
  }
  
  #test-container {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    width: 100%;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    text-align: center;
    margin-top: 20px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  